@import '../../App.scss';

.header{
    @include lg{
        width: 95%;
    }
    @include sm{
        width: 100%;
    }
    display: grid;
    grid-template-columns: .5fr 1fr ;
    padding:  1.5rem 2rem;
    overflow: hidden;
    width: 90%;
    margin: auto;
    .logo{
        @include lg{
            width: calc(11rem * .8 ) ;
        }
        @include mobile{
            width: calc(11rem * .7) ;
        }
        transition: all 1s ease-in-out;
        width: 11rem;
        cursor: pointer;
    }
   

    .nav-items{
            .link-contact{
                background-color: var(--highlight);
                height: 3rem;
                @include tocenter;
                a{color: white; }
                transition: all .2s ease;
            }
            .link-contact:hover{
                background-color: var(--font-color);
                a{
                    color: var(--white)
                }
            }
        justify-self: flex-end;
        display: flex;
        align-items: center;
        .nav-item:hover{
            color: $highlight;
        }
        .nav-item{
            transition: all .2s ease;  
            font-size: 1.25rem;
            padding: 0 1.5rem;
            @include xl{
                display: none;
            }   
        }
    }
}



.burger-header{
    transition: all .5s ease-in-out;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 39, 51, 0.85);

    .nav-items{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(0, -25%);
        .nav-item{
            @include md{
                font-size: calc(2rem * 0.85);
            }
            @include mobile{
                font-size: calc(2rem * 0.75);
            }
            font-size: 2rem;
            color: white;
        }
        .nav-item:hover{
            color: var(--highlight);
        }
        .hamburger{
            display: none;
        }
    }
}


@include xl{
    .hamburger-menu{
        display: block;
        position: fixed;
        top: 2%;
        right: 7%;
        z-index: 11;
        width: 3.5rem;
        height: 3.5rem;
        border: none;
        outline: none;
        background-color: transparent;
        @include tocenter;

        .toggler{
            z-index: 12;
            width: 100%;
            height: 100%;
            position: absolute;
            opacity: 0;
            outline: none;
            cursor: pointer;
        }
        .toggler:checked + .hamburger{
            
            transform: rotate(135deg);
            div{
                @include md{
                    height: 5px;
                }
                width: 90%;
                background-color: white;
                
            }
            > div:before, div:after{
                @include md{
                    height: 5px;
                }
                top: 0;
                width: 90%;
                transform: rotate(90deg);
                background-color: white;
            }
        }
        .hamburger{
            z-index: 11;
            position: relative;
            width: 80%;
            transition: all .5s ease;
            div{
                width: 70%;
                height: 7px;
                margin: 0 0 0 auto;
                background-color: var(--font-color);
                transition: all .5s ease;
            }
            > div:before, div:after{
                content: "";
                position: absolute;
                right: 0;
                top: -13.5px;
                width: 100%;
                height: 7px;
                background: var(--highlight);
                margin: 0;
                transition: all .5s ease;
            }
            div:after{
            top: 13.5px;
            }
        }
      
    }
}

@include md{
    .hamburger-menu{
        width: 3rem;
        height: 3rem;
    }
}


@include sm{
    .hamburger-menu{
        width: 2.5rem;
        height: 2.5rem;
    }
}

.hamburger-menu{
    display: none;
    @include xl{
        display: flex;
    }
}