@import '../../App.scss';

#home{
    height: auto;
}

.home-cta{
    @include xl{
        display: flex;
        flex-flow: column;
        height: auto;
    }
    @include md{
        width: 85%;
    } 
    padding: 0 0 0 0;
    width: 80%;
    height: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: (repeat(2, 1fr));
    gap: 1.5rem;
}


.intro{
    @include xl{
        height: 360px;
        justify-content: space-between;
    }
    @include md{
        height: 360px;
        justify-content: space-around;
    }
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 700px;
    
    .welcome{
        .greetings, .myname{
            font-family: $article-font;
            font-weight: 700;
        }

        .greetings{
            @include md{
                font-size: calc(3.4rem * .8);
            }
            @include mobile{
                font-size: calc(3.4rem * .7);
            }
            font-size: 3.4rem;
            color: var(--highlight);
        }
        .myname{
            @include md{
                font-size: calc(3.6rem * .8);
            }
            @include mobile{
                font-size: calc(3.6rem * .7);
            }
            font-size: 3.6em;
            padding-bottom: 1rem;
        }
    }

    .codetag-cta{
        @include xl{
            align-self: flex-end;
        }
        @include md{
            align-self: center;
            .codetag.slash{
                width: 7rem;
            }
            .codetag.open, .codetag.close{
                width: 3rem;
            }
        }
        @include mobile{
            .codetag.slash{
                width: calc(7rem * .8);
            }
            .codetag.open, .codetag.close{
                width: calc(3rem * .6);
            }
        }
        position: relative;
        align-self: center;
        display: flex;
        align-items: center;

        .dynamic{
            @include md{
                font-size: calc(4.35rem * .8);
            }
            @include mobile{
                font-size: calc(4.35rem * .68);
                padding: 0 1rem;
            }
            font-size: 4.3rem;
            .i, .word{
                font-family: $article-font;
                font-weight: 700;
                padding: 0 1rem;
                @include mobile{
                    padding: 0 .3rem;
                }
                
            }
            .i{
                color: var(--highlight);
            }
        }

        .codetag{
            align-self: center;
            filter:  drop-shadow(0px 3px 2px var(--shadow));
        }

        .slash{
            position: absolute;
            top:    50;
            left:  50%;
            transform: translate(-50%, 0);
            z-index: -1;
        }

    }
}

.intro-msg{
    @include xl{
        padding: 13% 0;
        width: 100%;
    }
    justify-self: flex-end;
    align-self: center;
    .intro-card{
        @include xl{
            width: 100%;
        }
        box-shadow: 0px 3px 20px var(--shadow);
        height: auto;
        width: 30rem;
        align-self: center;
        background-color: var(--card-color);
        border-radius: 15px;

        .card-header{
            .aboutme{
                @include md{
                    font-size: calc(1.7rem * .75);
                }
                @include sm{
                    font-size: calc(1.5rem * .7);
                }
                font-size: 1.7rem;
                font-family: $article-font;
                font-weight: 700;
                padding: 1.5rem 0 .5rem 3rem;
            }
            .border{
                width: 35%;
                height: .6rem;
                background-color: var(--highlight);
            }
        }

        .card-body{
            @include md{
                font-size: calc(.95rem * .8);
                padding: 1.5rem;
            }
            font-size: .95rem;
            font-family: $article-font;
            font-weight: 500;
            padding: 2.5rem;
            line-height: 2.5;
            letter-spacing: 1.3px;
        }

        .card-footer{
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            padding-bottom: 2rem; 
            .fa-download{
                transform: scale(0.8);
                padding: 0 3px 0 0;
            }
            .resume{
                @include md{
                    font-size: calc(1.7rem * .75);
                    padding:  .5rem 10% .5rem 0;
                }
                @include sm{
                    font-size: calc(1.5rem * .7);
                }
                font-size: 1.7rem;
                font-family: $article-font;
                font-weight: 700;
                padding:  .5rem 3rem .5rem 0;
                transition: color .2s ease;
            }
            .resume:hover{
                color: var(--highlight);
                transform: scale(1.005);
            }
            .border{
                width: 67%;
                height: .6rem;
                background-color: var(--highlight);
            }
        }

    }
}

.cloud-img{
    position: absolute;
    z-index: 0 !important;
    top:45%;
    left: 3%;
    opacity: .9 !important;
}
.cloud-img.right{
    bottom: 0;
    top: auto;
    left: auto;
    right: 1%;
    z-index: 1;
}

//Dynamic Word change

.word:before{
    content: "DESIGN";
    animation: dynamic-word-change 10s infinite ease;
    -webkit-animation: dynamic-word-change 10s infinite ease;
}


@-webkit-keyframes dynamic-word-change
{
    0%{content : "DESIGN"; -webkit-opacity: 0.5}
    10%{content : "DESIGN"; -webkit-opacity: 1}
    19%{content : "DESIGN"; -webkit-opacity: 0}
    20%{content : "CODE"; -webkit-opacity: 0}
    30%{content : "CODE"; -webkit-opacity: 1}
    39%{content : "CODE"; -webkit-opacity: 0}
    40%{content : "BUILD"; -webkit-opacity: 0}
    50%{content : "BUILD"; -webkit-opacity: 1}
    59%{content : "BUILD"; -webkit-opacity: 0}
    60%{content : "LEARN"; -webkit-opacity: 0}
    70%{content : "LEARN"; -webkit-opacity: 1}
    79%{content : "LEARN"; -webkit-opacity: 0}
    80%{content : "CHILL"; -webkit-opacity: 0}
    90%{content : "CHILL"; -webkit-opacity: 1}
    99%{content : "CHILL"; -webkit-opacity: 0}
    100%{content : "DESIGN"; -webkit-opacity: 0}
}


@keyframes dynamic-word-change{
    0%{content : "DESIGN"; opacity: 0.5}
    10%{content : "DESIGN"; opacity: 1}
    19%{content : "DESIGN"; opacity: 0}
    20%{content : "CODE"; opacity: 0}
    30%{content : "CODE"; opacity: 1}
    39%{content : "CODE"; opacity: 0}
    40%{content : "BUILD"; opacity: 0}
    50%{content : "BUILD"; opacity: 1}
    59%{content : "BUILD"; opacity: 0}
    60%{content : "LEARN"; opacity: 0}
    70%{content : "LEARN"; opacity: 1}
    79%{content : "LEARN"; opacity: 0}
    80%{content : "CHILL"; opacity: 0}
    90%{content : "CHILL"; opacity: 1}
    99%{content : "CHILL"; opacity: 0}
    100%{content : "DESIGN"; opacity: 0}
}

