@import '../../App.scss';

.footer{

    min-height: 23vh;
    height: auto;
    display: flex;
    align-items: flex-end;
    padding: 2rem 0 0 0;
    .footer-container{
        padding: 2rem 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 150px;
        height: auto;
        background-color: var( --footer-color);
        box-shadow: 0px 25px 50px var(--btn-shadow);
        .copyright{
            width: 100%;
            font-size: 12px;
            color: var(--white);
            text-align: center;
            align-self: flex-end;
            padding: 15px 2rem 15px 2rem;
        }
    }
    .media-cta{
        @include md{
            grid-template-columns: 1fr;
        }
        padding: 10px 0 0 0;
        display: grid !important;
        transition: color .2s ease;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        align-self: center;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        width: 40%;
        color: white;
        display: flex;
        .github, .email, .phone{
            cursor: pointer;
            .fas, .fab{
                font-size: 1.7rem;
            }
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            > div{
                padding: 5px 0;
                a{
                    transition: color .2s ease;
                    color: white;
                }
            }
        }
        .github:hover, .email:hover, .phone:hover{
            color: var(--highlight);
            a{
                color: var(--highlight);
            }
        }
    }
}