@import '../../App.scss';

.milestone-section{
    display: flex;
    flex-direction: column;
}

//all additional images
.cloud-img{
    position: absolute;
    z-index: -1;
    top:45%;
    left: 3%;
}

.cloud-img.right{
    bottom: 0;
    top: auto;
    left: auto;
    right: 1%;
}


.heading-cta{
    width: 100%;
}

.airballoon{
    @include lg{
        width: calc(16rem * .85);
    }
    @include sm{
            width: calc(16rem * .6);
    }
    width: 16rem;
    justify-self: center;
    overflow: hidden;
    align-self: center;
}

//main body of Milstone
.milestone-cta{
    width: 95%;
    margin: auto;
    position: relative;
    min-height: calc(100vh + 3.5rem);
    max-height: 1200px;
    height: auto;
}
.milestone-cta::before{
    content: " ";
    width: .45rem;
    min-height: calc(100vh + 3.5rem);
    max-height: 1200px;
    height: auto;
    background-color: $dark;
    position: absolute;
    top :0;
    left: 50%;
    transform: translate(-50%, 0);

}

.timeline{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    .banner-cta{
        @include md{
            justify-content: space-between;
        }
        display: flex;
        justify-content: space-around;
        // transform: translate(0, -100%);
        .banner{
            @include lg{
                width: calc(16.25rem * .85);
                font-size: calc(1.5rem * .85);
                height: calc(3.5rem * .9);
            }

            @include md{

            }

            @include sm{
                width: calc(16.25rem * .6);
                font-size: calc(1.5rem * .6);
                height: calc(3.5rem * .7);
            }
            @include mobile{
                width: calc(16.25rem * .5);
            }
            @include tocenter;
            width: 16.25rem ;
            font-size: 1.5rem;
            color: $bright;
            background-color: $dark;
            height: 3.5rem;
            clip-path: polygon(88% 0, 100% 53%, 88% 100%, 0% 100%, 10% 53%, 0% 0%);
        }
        .banner.career{
            clip-path: polygon(100% 0%, 90% 52%, 100% 100%, 10% 100%, 0 56%, 10% 0);
        }
    }
}


.items-container{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin: 2.81rem 0 0 0;
}
#career{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    .date::before{
        content: "Details ";
        color: $highlight;
        margin: .625rem;
        filter: drop-shadow(0px 2px 2px rgba(black, .16));
        cursor: pointer;
    }
    .item-container{
        border-radius: 0 .92rem .92rem .92rem;
    }
}
.items-container::after{ 
    @include lg{
        width: .75rem;
        height: .75rem;
    }
    @include md{
        width: .75rem;
        height: .75rem;
    }
    content: " ";
    background-color: $default-bg;
    width: 1rem;
    height: 1rem;
    border: .37rem solid $highlight;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.date{
    @include md{
        font-size: calc(14px * .8);
    }
    font-size: .8rem;
    margin: 0 0 0 3vw;
    
}
.item-container{
    @include lg{
        font-size: calc(1.19rem * .85);
    }
    @include mobile{
        font-size: calc(1.19rem * .7);
    }
    width: 40%;
    padding: 2% 5%;
    margin: .625rem 0 0 3vw;
    background-color: $bright;
    font-size: 1.19rem;
    text-align: center;
    border-radius: .925rem 0 .925rem .925rem;
    box-shadow: 0px 3px 13px rgba(black, .16);
    .item{
        margin: auto;
    }
}