@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');


//Basic Setting

    $xxl: 1400px;
    $xl: 1200px;
    $lg: 992px;
    $md: 768px;
    $sm: 576px;
    $xs: 575.99px;
    $xxs: 430px;
    $default-font: 'Baumans', cursive;
    $article-font: 'Oxygen', sans-serif;
    $formal-font: 'Mulish', sans-serif;
    $dark: #313233;
    $white: white;
    $highlight: #E5AA50;
    $cream: #FFFEE4;

    :root{
        --dark: #313233;
        --white: white;
        --orange: #E5AA50;
        --cream: #FFFEE4;
        --black: black;
        --night: #0F161D;
        --card: rgba(255, 255, 255, 0.959);
       
    }

    .light{
        transition: all .5s ease-in-out;
        --card-color: var(--white);
        --bg-color: var(--white);
        --subbg-color: var(--cream);
        --font-color: var(--dark);
        --highlight: var(--orange);
        --shadow: rgba(0, 0, 0, 0.123);
        --banner-color: var(--dark);
        --btn-color: var(--white);
        --btn-shadow: rgba(0, 0, 0, 0.777);
        --footer-color: var(--dark);
        --btn-color: var(--dark);
        --contact-color: var(--dark);
    }

    .dark{
        --bg-color: var(--night);
        --subbg-color: rgba(0, 0, 0, 0.507);
        --font-color: var(--white);
        --highlight: var(--orange);
        --shadow: rgba(10, 10, 10, 0.733);
        --banner-color: var(--orange);
        --card-color: var(--dark);
        --btn-shadow: rgba(255, 255, 255, 0.589);
        --footer-color: rgb(19, 18, 18);
        --btn-color: var(--orange);
        --contact-color: var(--cream);
    }
        
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $default-font;
        line-height: 1.5;
        letter-spacing: .05rem;
        font-weight: 500;
        
    }



     body{
         margin: auto;
         background-color: var(--bg-color);
         color: var(--font-color);
         z-index: -100;
         overflow-x: hidden;
     }

    
     main{
         margin: auto;
         background-color: var(--bg-color);
         color: var(--font-color);
         z-index: -100;
         transition: background .5s ease-in-out, color 1s ease-in-out;
         overflow-x: hidden;
     }

    h1,h2,h3,h4,h5,h6{
        
    }

    a, ul, li{
        text-decoration: none;
        list-style: none;
        color: var(--font-color);
    }


@mixin tocenter(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin xxl(){
    @media all and (max-width: $xxl) {
        @content;
    }
}

@mixin xl(){
    @media all and (max-width: $xl) {
        @content;
    }
}

@mixin lg(){
    @media all and (max-width: $lg) {
        @content;
    }
}

@mixin md(){
    @media all and (max-width: $md) {
        @content;
    }
}

@mixin sm(){
    @media all and (max-width: $sm) {
        @content;
    }
}

@mixin xs(){
    @media all and (max-width: $xs) {
        @content;
    }
}

@mixin mobile() {
    @media all and (max-width: $xxs) {
        @content;
    }
}



@keyframes color-rotate{
    from{
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}



.themeSwitch, .goTop{
    @include lg{
       width: calc(2.6rem * .9);
       height:calc(2.7rem * .9);
       .fas{
           font-size: calc(1.3rem * .9)
        }
    }
    @include sm{
        width: calc(2.7rem * .75);
        height:calc(2.7rem * .75);
        border: 1px solid var(--font-color);
        .fas{
            font-size: calc(1.3rem * .75)
         }
     }
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 10;
    box-shadow: 0px 0px 5px var(--btn-shadow);
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 100%;
    border: 2px solid var(--white);
    outline: none;
    background-color: var( --bg-color);
    color:  var(--btn-color);
    display:flex;
    align-items: center;
    justify-content: center;
    .fas{
       font-size: 1.1rem;
    }
}

.goTop{
    transform: translate(0, -130%);
    .fas{
        @include lg{
            font-size: calc(1.8rem * .9)
         }
         @include sm{
            font-size: calc(1.8rem * .75)
          }
        font-size: calc(1.8rem)
     }
}