@import '../../App.scss';

.skills{
    @include xl {
        height: calc(50rem * 1.5);
    }
    @include md {
        height: calc(50rem * 2);
    }
    position: relative;
    width: 100%;
    height: auto;
    min-height: 55rem;
    height: 55rem;
    display: flex;
    flex-flow: column;
    margin: 0 0 2rem 0;
    //CodeTag
    .codetag-cta{
        @include xl{
            position: static;
            transform: none;
            height: 18rem;
            padding: 0 0 1rem 0;
        }
        @include md{
            align-self: center;
            height: calc(18rem * .8);
            .codetag.slash{
                width: 6rem;
            }
            .codetag.open, .codetag.close{
                width: 1.7rem;
            }
        }
        @include mobile{
            .codetag.slash{
                width: calc(7rem * .8);
            }
            .codetag.open, .codetag.close{
                width: calc(1.7rem * .8);
            }
        }
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(0, -50%);
        align-self: center;
        display: flex;
        align-items: center;

        .section-header{
            @include md{
                font-size: calc(3.5rem * .65);
                padding: 0 1rem;
            }
            @include mobile{
                font-size: calc(3.5rem * .68);
                padding: 0 .5rem;
            }
            font-size: 3.5rem;
            padding: 0 1.5rem;
        }

        .codetag{
            width: 2rem;
            align-self: center;
            filter: drop-shadow(0px 3px 2px rgba(black, .16));
        }

        .slash{
            position: absolute;
            width: 7rem;
            top:    50;
            left:  50%;
            transform: translate(-50%, 0);
            z-index: -1;
        }

    }

    .crawl{
        align-self: center;
        width: 100%;
        margin: 0 0 5% 0;
        // animation: crawl-spring-xxl 2s infinite;
        height:auto;
        width: 11.25rem;
        transform: translate(0, -5%);
    }


    .skills-container{
        @include xl{
            grid-template-columns: 1fr 1fr;
            width: 90vw;
            margin: 2rem auto 2rem auto;
        }
        @include md{
            width: 80vw;
            grid-template-columns: 1fr;
            // margin-top: 20%;
        }
        // @include sm{
        //     margin-top: 25%;
        // }
        // @include mobile{
        //     margin-top: 35%;
        // }
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.525rem;
        width: 75vw;
        min-height: 32rem;
        height: 32rem;
        margin: auto auto 0 auto;
        .skill-container{
            position: relative;
            background-color: $bright;
            display: flex;
            flex-flow: column;
            border-radius: .65rem;
            box-shadow:0px 3px 15px rgba(black, .16);
            .egg-btn{
                cursor: pointer;
                border: none;
                .egg{
                    @include lg{
                        width: 4.375rem;
                    }
                    position: absolute;
                    width: 5.63rem;
                    bottom: -10%;
                    right: -7%;
                    transform: rotate(18deg);
                    animation: egg-vibrate 5s infinite ease;
                    filter: drop-shadow(0px 3px 7px rgba(black, .3));
                }
                .egg:hover{
                    animation: egg-hover .25s 2 ease;
                }
            }

           
            .skill-title{
                padding: .93rem 0 5px 0;
                text-align: center;
                font-size: 1.375rem;
            }
            .border{
                width: 50%;
                border-bottom: 5px solid $highlight;
            }
            .skill-des{
                padding: .95rem 7% 3.125rem 7%;
            }
        }

    }

    .rectangle{
        position: absolute;
        z-index: -1;
        bottom: 8%;
        left:right;
        width: 100%;
        height: 15.6rem;
        transform: translate(0, -25%);
        background-color: $default-bg;
    }
}


//Modal
.Modal{
    @include xl{
        
    }
    @include lg{
        min-width: 90%;
    }
    @include md{
        flex-direction: column;
     
    }
    @include mobile{
        flex-direction: column;
     
    }
 
    box-shadow:  0px 3px 30px rgba(black, .3);
    outline: none;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 47rem;
    width: 60%;
    height: 85%;
    border-radius: .93rem;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    display: flex;
    background-color: $bright;
    transition: all 250ms ease;
    transform: translate(-50%, -50%) scale(.1);

    //SKills

    .skill-card{
        @include lg{
           
        }
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100%;

        //Card-Header
        .skill-card-header{
            @include lg{
                
            }
            height: 5rem;
            width: 100%;
            display: flex;
            .skill-card-title{
                @include xl{
                   
                }
                @include lg{
                    font-size: calc(1.8rem * .9);
                }
                font-size: 1.8rem;
                padding: 1% 0 0 5%;
                align-self: center;
            }
        }
        .border{
            width: 25%;
            height: .5rem;
            background-color:  $highlight;
        }

        //Card-content
        .skill-content{
            @include lg{
               
            }
            @include md{
                
            }
            width: 90%;
            height: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
             @include sm{
                .skill-details:nth-child(odd){
                     background-color: $default-bg;
                 }
                 width: 100%;
             }
            .skill-details{
                @include xl{
                  
                   
                }

                @include sm{
                    flex-flow: column;
                    height: 100%;
                    justify-content: space-around;
                    padding: 1rem;
                }
                display: flex;
                .skill-subject{
                    @include sm{
                        margin:  0;
                        width: 100%;
                    }
                    width: 30%;
                    margin: auto 1rem;
                    display: flex;
                    align-items: center;
                    .skill-logo{
                        @include xl{
                           
                        }
                        @include lg{
                            width: calc(4.2rem * .8);
                        }
                        @include md{
                            width: calc(4.2rem * .7);
                        }
                        @include mobile{
                            width: calc(4.2rem * .6);
                        }
                        margin: auto 0;
                        width: 4.2rem;
                    }
                    .skill-item-title{
                        @include xl{
                      
                        }
                        @include lg{
                            font-size: calc(1.1rem * .9);
                        }
                        align-self: center;
                        font-size: 1.1rem;
                        justify-self: flex-start;
                        padding: 0 1rem;
                    }
                }
                        
                .rating-group{
                    @include sm{
                        width: 100%;
                    }
                    width: 65%;
                    display: flex;
                    justify-content: flex-start;
                    .puzzle{
                        @include xl{
                           
                        }
                        
                        @include lg{
                            width: calc(4.3rem * .8);
                        }
                        
                        @include md{
                            width: calc(4rem * .8);
                            padding-top: 1.5%;
                        }
                        @include mobile{
                            width: calc(4rem * .7);
                            margin: 0 3% 0 0;
                        }
                        width: 4.5rem;
                        margin: 0 4% 0 0;
                    }
                }
            }
        }
        
    
    }
  


    //Close btn
    .close-btn, .arrow-btn{
        border: none;
        cursor: pointer;
    }

    .close, .arrow{
        @include sm{
            width: calc(2.55rem * .8);
        }
        position: absolute;
        right: 2%;
        opacity: .85;
        width: 2.55rem;
    }

    .close:hover{
        transform: scale(1.01);
        opacity: 1;
    }
    .arrow:hover{
        transform: scale(1.01) translate(-50%, -50%);
        opacity: 1;
    }

    .close{
        top: 3%;
    }
    .arrow{
        display: none;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}

.Overlay{
    z-index: 2;
    background-color: rgba($dark, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 250ms ease;
}

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .ReactModal__Overlay--after-open .Modal{
    transform: translate(-50%, -50%) scale(1);
  }
  
  .ReactModal__Overlay--before-close .Modal{
    transform: translate(-50%, -50%) scale(.1);
  }

  @keyframes egg-hover{
    from{
        transform: scale(1.05) rotate(18deg);
    }
    50% {
        transform: scale(1.05)rotate(-20deg);
    }

    to {
        transform: scale(1.05) rotate(18deg);
    }
}

@keyframes egg-vibrate{
    from{
        transform: scale(1.05) rotate(18deg);
    }
    5% {
        transform: scale(1.05)rotate(-20deg);
    }
    10%{
        transform: scale(1.05) rotate(18deg);
    }
    to{
        transform: scale(1.05) rotate(18deg);
    }
}

// @keyframes crawl-spring-xxl{
//     from{
//         transform:  rotate(3deg);
//     }
//     50% {
//         transform: rotate(-5deg);
//     }

//     to {
//         transform: rotate(3deg);
//     }
// }

